:root {
    --wsyiwg-container-width: calc(100vw - 3rem);
    --wsyiwg-container-height: calc(100vh - 3rem);

    --wsyiwg-outline-width: 30%;
    --wsyiwg-outline-height: calc(var(--wsyiwg-container-height) - 100px);

    --wsyiwg-content-width: calc(var(--wsyiwg-container-width) - var(--wsyiwg-outline-width));
    --wsyiwg-content-height: calc(var(--wsyiwg-container-height) - 100px);
}

writable-div {
    width: 100%;
    height: 100%;
    display: block;
}
